venv/
__pycache__/
result.txt
.env
credentials.json
env.url
generated_blog_images/
.pylintrc
.cursorignore
.cursorrules
.cursorignore
.cursorrules

.DS_Store
.pylintrc

.DB_NAME

DB_Store/
*.db
db_data/
mongodb/
data/
*.sqlite
*.sqlite3

*.pem
*.key
*.crt
secrets/
config/*.json
.env.*

*.log
logs/
tmp/
temp/
api/.DS_Store
api/.DS_Store
models/.DS_Store
services/.DS_Store
